@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');


.Home h1 {
    margin: 0 auto 20px;
    transition: all 0.2s ease;
    width: 100%;
    height: auto;
    color: #007bff;
    text-align: center;
    font-size: 100%;
    position:absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'Josefin Sans', sans-serif;
    font-size: 4.5rem;
    font-weight: 800;
    line-height: 1;
    letter-spacing: -.0375rem;
}
.Home p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.85rem;
    line-height: 1.4;
    color: #0f1031;
    margin: 0 auto 24px;
    
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
 
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -25%);
}
.Home button[type = "Getstarted"]
{
 font-size: 20px;
 display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 28px;
    cursor:pointer;
    margin-bottom: 10px;
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto
}

.Home button[type = "Getstarted"]:hover
{
    background-color: rgb(0, 110, 129);
}

.Home form {
    position: absolute;
    top: 60%;
    left: 52%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.Home input[type="text"] {
    padding-left: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 200px;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  }
  
  .Home button[type="search"] {
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
  }
  .Home button[type="search"]:hover {
    background-color: lightblue;
    cursor: pointer;
  }


  