.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    top: 48%;
    left: 13%;
    transform: translate(-50%, -50%);
    
  }
  
  .profile-container {
    max-width: 500px;
    padding: 20px;
    border: black;
    border-radius: 5px;
    padding: 10px;

  }
  
  .profile-header {
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;

  }
  
  .profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-image {
    height: 150px;
  }
  
  .profile-name {
    margin-top: 20px;
    font-family: 'Josefin Sans', sans-serif;

  }
  
  .profile-bio {
    text-align: center;
    margin-top: 10px;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .edit-profile-btn {
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;

  }
  .profile-email{
    margin-top: 5px;
  }

  .cal{
    position: absolute;
    top: 54%;
    left: 55%;
    transform: translate(-50%, -50%);
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  }
  
  .circular--landscape { display: inline-block; 
    position: relative; 
    width: 200px; 
    height: 200px;
  }

    .circular--landscape img { width: auto; 
        height: 100%; 
    }