

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');




.navlinks li, .navlinks a{
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  color: #24252A;
  text-decoration: none;
  font-weight: bold;
  
}
.Navigation header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: rgb(233, 233, 233);
}

.logo{
  order: 3;
  cursor: pointer;
  height: 100px;
  position: absolute;
  top: 8%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.navlinks{
  list-style: none;
}
.navlinks li{
  display:inline-block;
  padding: 0px 20px;

}

.navlinks li link{
  transition: all 0.2s ease 0s;
}

.navlinks li .Navigation link:hover{
 color: #0088a9
}
.navlinks a :hover{
  text-decoration: underline;
  }
 



.Navigation button:hover{
  background-color: rgb(0, 110, 129);
}


