.navigation-bar {
    background-color: #2d68c4;
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-size:120%;
  }
  
  .navigation-bar ul {
    display: flex;
    list-style: none;
    margin: 100;
    padding: 0;
  }
  
  .navigation-bar li {
    margin: 0 15px;
  }
  
  .navigation-bar a {
    align-items: center;
    display: flex;
    text-decoration: none;
    color: #f0aa02;
  }
  
  .navigation-bar a:hover {
    text-decoration: underline;
  }
  
  .navigation-bar span {
    margin-left: 5px;
  }
  