

.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color:#f1f1f1;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}


.event-btn-container {
display: flex;
padding-left: 80px;
justify-content: space-between;
padding-right: 80px;
padding-top: 15px;

}



.App-link {
  color: #61dafb;
}




.rbc-allday-cell{
  display: none;
}


.rbc-now{
  background-color: #f1f1f1;
}

.rbc-calendar {
  color: black;
}

.rbc-time-view .rbc-day-slot {
  border-right: 1px solid rgba(0, 0, 0, 0.132);
  border-bottom: 2px solid rgba(0, 0, 0, 0.132);
  border-left: 1px solid rgba(0, 0, 0, 0.132);

}





.rbc-event:hover::before {
  content: "X";
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}
.rbc-header.rbc-today{
  background-color: #8ebff3;
  color: black;
  font-family: 'Josefin Sans', sans-serif;

}

.rbc-time-header-cell {

  background-color: #007bff;
  color: #fff;

}



.rbc-button-link{
  font-family: 'Josefin Sans', sans-serif;

}

.rbc-toolbar-label {

  font-family: 'Josefin Sans', sans-serif;
  

}

.rbc-btn-group button{
  background-color: #007bff;
  FONT-WEIGHT: 200;
  border-radius: 10%;
  font-size: 22px;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  border: none;
  border-radius: 28px;
  cursor:pointer;
}

.rbc-toolbar button:active:hover, .rbc-toolbar button:active:focus,
.rbc-toolbar button.rbc-active:hover, .rbc-toolbar button.rbc-active:focus
 {
  background-color: #8ebff3;
  color: black;
 }

 .rbc-btn-group button:hover{
  background-color: #8ebff3; 
  color: #000; 
}

.rbc-btn-group button:focus {
  background-color: #8ebff3; 
  color: #000; 
}

 .rbc-toolbar button.rbc-active {
  background-color: #8ebff3;
  color: black;
 }

.rbc-toolbar-label{

  FONT-WEIGHT: 200;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  margin: 20px;
  margin-top: 0px;
  border-radius: 10%;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  color: black;
  border: none;
  border-radius: 28px;

}

.rbc-label {
  font-family: 'Josefin Sans', sans-serif;
}

.rbc-time-gutter.rbc-time-column{

  background-color: #007bff;
  color: #fff;

}

.rbc-label.rbc-time-header-gutter
{
  border: none;
  background-color: #007bff;
}


.rbc-event-label {
  padding-top: 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 10px;

}

.rbc-event-content {
  padding-top: 10px;
  padding-left: 11px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 12px;
}

.rbc-current-time-indicator {

  height: 3px;
  background-color: #007bff;
}


.meter {
  display: flex;
  align-items: center;
  margin-left: 120px; 
}

canvas {
  margin-left: 40px;
  width: 200px;
  height: 5px;
  margin: 0 10px;
  margin-bottom: 23px;  
}

.meter-canvas {
  margin-right: 20px; /* add more margin to the right */
  margin-top: 49px;
  width: 120px;
  border: 1px solid #ccc;
}

.wooden-meter-label {
  font-size: 15px;
  font-weight: bold;  
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 25px;
  width: 120px;
}

.hitch-meter-label {
  font-size: 15px;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 25px;
  width: 98px;
}


body.active-modal {
  overflow-y: hidden;
  z-index: 9999;
  
}

.btn-modal {      /* change look of actual modal btn */
  FONT-WEIGHT: 200;
  padding: 5px 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  margin-top: 0px;
  border-radius: 10%;
  font-size: 30px;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 28px;
  cursor:pointer;
} 

.btn-modal:hover {      /* change look of actual modal btn */
  FONT-WEIGHT: 200;
  padding: 5px 15px;
  display: flex;
  justify-content: flex-start;
  margin: 20px;
  margin-top: 0px;
  border-radius: 10%;
  font-size: 30px;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #8ebff3; 
  color: #000; 
  border: none;
  border-radius: 28px;
  cursor:pointer;
} 

.modal {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1000;
  align-items: center;

}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(49,49,49,0.8);
}
.modal-content {
  position: absolute;
  align-items: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: hsl(0, 0%, 92%);
  font-family: 'Josefin Sans', sans-serif;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
  z-index: 9999;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  align-items: center;
  FONT-WEIGHT: 200px;
  display: flex;
  border-radius: 10%;
  font-size: 15px;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 28px;
  cursor:pointer;
}

.close-modal:hover {
  background-color: red;
  color: white;
}


.input-group {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: 'Josefin Sans', sans-serif;
  justify-content: center;
}

.input-group-title {
  padding-right: 40px;
}



.title-select {
  align-items: center;
  display: flex;
    font-family: 'Josefin Sans', sans-serif;

}

.input-group label {
  margin-right: 10px;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;

}

.custom-date-picker-start {

  width: 200px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  height: 25px;

}

.custom-date-picker-end {

  width: 201.5px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  height: 25px;

}

.swal2-popup {
  font-family: 'Josefin Sans', sans-serif;
}

.swal2-title {
  font-family: 'Josefin Sans', sans-serif;
}

.swal2-content {
  font-family: 'Josefin Sans', sans-serif;
}

.swal2-actions {
  font-family: 'Josefin Sans', sans-serif;
}

.swal2-footer {
  font-family: 'Josefin Sans', sans-serif;
}

.swal2-confirm {
  font-family: 'Josefin Sans', sans-serif;
}

.swal2-html-container {
  font-family: 'Josefin Sans', sans-serif;
  text-align: start;
  line-height: 2;
}
.text-left {
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
}

.swal2-popup.swal2-html {
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;

}
