@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');


  body{
  background: linear-gradient(to left, rgb(120, 120, 255),goldenrod);
  animation: gradient-animation 10s ease infinite;
}
 @keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bear{
  max-width: 100%;
  height: auto;
    height: 7.5vw;
    pointer-events: none;
    position: absolute;
    top: 50vw;
    left: 50vw;
    transform: translate(1vw, -60vw);
    transition: all 0.2s ease;
    
    display: block;
}
.Create a{
    color: #2890ff; /* blue color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* drop shadow */
    /* gold gradient */
   font-size: 30px;

    top: 30%;
    left: 50%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: Bold;

    
    text-transform: uppercase;
    font-weight: bold;


  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #000;
  width: 0;
  animation: typing 2s steps(30, end) forwards;
}
.Create input[value="Create Account"]{
    font-size: 20px;
    font-style: italic;

}

@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
.Create form{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.Create{
background-color: rgba(255, 255, 255, 0.671);
font-family: 'Josefin Sans', sans-serif;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    padding-top: 4.06vw;
    padding-right: 4.06vw;
    padding-bottom: 4.06vw;
    padding-left: 4.06vw;
    border-radius: 10px;

}

.Create input[type="submit"] {
font-family: 'Josefin Sans', sans-serif;
    
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor:pointer;
   
  }
 .Create input[type="text"],
.Create input[type="password"],
.Create input[type="email"] {
    
    
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 2px; 
    border: 3px solid #ccc;
  }
  
  .Create label {
    margin-bottom: 15px;
    font-size: large;
    
  }
  
 .Create input[type="submit"]:hover {
    
    background-color: lightblue;
  }
