 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');


.Login {
    text-align: center;
  }
  .Login h3{
    color: goldenrod; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    
   
    position: absolute;
    top: 26%;
    left: 94%;
    transform: translate(6%, -70%);
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
  }
   .Login h2{
    color: #007bff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 

   
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-171%, -50%);
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    
    font-family: 'Josefin Sans', sans-serif;
   }
  .Login-logo {
    height: 25%;
    pointer-events: none;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-55%, -28%);
    transition: all 0.2s ease;
   
  }
  
  .login-Section a{
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .login-Section{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
 
    padding-top: 4.0vw;
    padding-right: 4.0vw;
    padding-bottom: 4.0vw;
    padding-left: 4.0vw;
    border-radius: 10px;
   background-color: white
  
  }
  
  .Login h1 {
  
    transition: all 0.2s ease;
    width: 100%;
    height: auto;
    color: #007bff;
    text-align: center;
    font-size: 100%;
    position:absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'Josefin Sans', sans-serif;
  }
  
 .Login div {
    display: flex;
    flex-direction: column;
  }
  
  .login-Section label {
    margin-bottom: 10px;
  }
  
  .Login input[type="text"],
 .Login input[type="password"] {
    font-size: 2vmin;
    font-family: 'Josefin Sans', sans-serif;
    padding: 3px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;

  }
  
  button[type="submit"] {
    font-size:15px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    margin-bottom: 10px;
  }
  
  button[type="submit"]:hover {
    
    background-color: lightblue;
  }
  
  .Login-header {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #007bff;
    font-family: 'Josefin Sans', sans-serif;
  
  } 
